@import url("section.css");
@import url("menuburger.css");
@import url("https://fonts.googleapis.com/css?family=Comic+Neue&display=swap");
@import url("log-reg.css");
@import url("forceback.css");
@import url("profile.css");
@import url("content.css");
@import url("swiper.css");
@import url("otzv.css");
@import url("header_admin.css");
@import url("preloader.css");
@font-face {
  font-family: "1"; /* Гарнитура шрифта */
  src: url("../fonts/zagolovki.otf") format("truetype"); /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "2"; /* Гарнитура шрифта */
  src: url("../fonts/maintext.otf") format("truetype"); /* Путь к файлу со шрифтом */
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "2";
}

:root {
  --blue: rgb(52, 107, 124);
}
